:root {
    --text-primary-color: #000;
    --text-secondary-color: #fff;
    --header-bg-color: #fff;
    --btn-primary-color: #66bbff;
    --btn-secondary-color: #0070c9;
    --btn-danger-color: #FF0000;
    --bg-color:  #fafafa;
}