@import 'login.css';
@import 'navbar.css';
@import 'button.css';
@import 'media.css';
@import 'colors.css';

/* :root {
    --bg-color: #fafafa;
} */
body {
    margin: 0;
    background: var(--bg-color);
    
}
header {
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
}
footer {
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    background: #000;
    width: 100%;
}
footer p {
   color: white;
}